:root {
  --color-purple-400: hsl(231deg 77% 90%);
  --color-black-400: hsl(230deg 35% 7%);
  --color-white-400: hsl(0deg 0% 100%);
  --color-white-translucent: hsl(0deg 0% 100% / 50%);

  /* Navbar */
  --color-navItem-counter: var(--color-white-400);
  --color-navItem-border-active: var(--color-white-400);
  --color-navItem-border-hover: var(--color-white-translucent);

  /* Heading */
  --color-heading-light: var(--color-white-400);
  --color-heading-dark: var(--color-black-400);
  --color-heading-accent: var(--color-purple-400);

  /* navButton */
  --color-navButton-background: var(--color-white-400);
  --color-navButton-background-hover: var(--color-white-400);
  --color-navButton-text: var(--color-black-400);

  /* Typography */
  --color-typography-light: var(--color-white-400);
  --color-typography-dark: var(--color-black-400);
  --color-typography-accent: var(--color-purple-400);
}
