.btn {
  --font-size-Button: var(--font-size-xs);

  display: block;

  font-family: var(--font-family-secondary);
  font-size: var(--font-size-Button);
  line-height: var(--line-height);
  text-transform: uppercase;

  color: var(--color-button-text);
  border: none;
  background-color: var(--color-button-background);

  cursor: pointer;
}

.wrapper {
  text-align: inherit;

  border: none;
  background: transparent;

  cursor: pointer;
}

.centered {
  margin: 0 auto;
}

@media (min-width: 768px) {
  .btn {
    --font-size-Button: var(--font-size-lg);
    width: 242px;
    height: 242px;
  }
}

@media (min-width: 1440px) {
  .btn {
    width: 274px;
    height: 274px;
  }
}
