.menu {
  display: flex;
  justify-content: center;
  gap: var(--sizing-50);
}

.item {
  padding-block: var(--sizing-10);
  border-bottom: 3px solid transparent;

  transition: border 0.3s ease-in-out;
}

.item:hover {
  border-color: var(--color-white-translucent);
}

.item.active {
  border-color: var(--color-white-400);
}

@media (min-width: 1440px) {
  .menu {
    justify-content: start;
  }
}
