.typography {
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height);

  color: var(--color-heading-light);
}

/* Font family */
.primary {
  font-family: var(--font-family-primary);
}

.secondary {
  font-family: var(--font-family-secondary);
}

/* Colors */
.light {
  color: var(--color-heading-light);
}

.dark {
  color: var(--color-heading-dark);
}

.accent {
  color: var(--color-heading-accent);
}

/* Presets */

.heading1 {
  font-family: var(--font-family-secondary);
  font-size: var(--font-size-4xl);
  font-weight: var(--font-weight-regular);
  text-transform: uppercase;
}

.heading2 {
  font-family: var(--font-family-secondary);
  font-size: var(--font-size-2xl);
  font-weight: var(--font-weight-regular);
  text-transform: uppercase;
}

.heading3 {
  font-family: var(--font-family-secondary);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-regular);
  text-transform: uppercase;
}

.heading4 {
  font-family: var(--font-family-secondary);
  font-size: var(--font-size-2xs);
  font-weight: var(--font-weight-regular);
  text-transform: uppercase;

  color: var(--color-white-translucent);
}

.heading5 {
  font-family: var(--font-family-secondary);
  font-size: var(--font-size-2xs);
  font-weight: var(--font-weight-regular);
  letter-spacing: var(--letter-spacing-md);
  text-transform: uppercase;
}

.subHeading1 {
  font-family: var(--font-family-secondary);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-regular);
  text-transform: uppercase;
}

.subHeading2 {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-5xs);
  font-weight: var(--font-weight-regular);
  letter-spacing: var(--letter-spacing-sm);
  text-transform: uppercase;

  color: var(--color-heading-accent);
}

.navText {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-2xs);
  font-weight: var(--font-weight-regular);
  letter-spacing: var(--letter-spacing-md);
  text-transform: uppercase;
}

.text {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-3xs);
  font-weight: var(--font-weight-regular);

  color: var(--color-heading-accent);
}

/* Utilities */
.centered {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

.bold {
  font-weight: var(--font-weight-bold);
}

@media (min-width: 768px) {
  .heading1 {
    font-size: var(--font-size-5xl);
  }

  .heading2 {
    font-size: var(--font-size-3xl);
  }

  .heading3 {
    font-size: var(--font-size-xl);
  }

  .heading4 {
    font-size: var(--font-size-sm);
  }

  .heading5 {
    font-size: var(--font-size-sm);
  }

  .navText {
    font-size: var(--font-size-2xs);
  }

  .bodyText {
    font-size: var(--font-size-2xs);
  }
}

@media (min-width: 1440px) {
  .heading2 {
    font-size: var(--font-size-4xl);
  }

  .heading3 {
    font-size: var(--font-size-2xl);
  }

  .heading4 {
    font-size: var(--font-size-lg);
  }

  .heading5 {
    font-size: var(--font-size-md);
  }

  .bodyText {
    font-size: var(--font-size-xs);
  }
}
