.home,
.container {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.home {
  gap: var(--sizing-100);
}

.container {
  padding-top: var(--page-padding);
}

@media (min-width: 1300px) {
  .home {
    min-height: 100%;
  }
}
