.home {
  position: relative;

  display: flex;
  overflow: hidden;
  flex-direction: column;
  min-height: 100vh;

  background: url("../../assets/images/home/background-home-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  gap: var(--sizing-100);
}

.main {
  display: flex;
  flex-direction: column;
}

@media (min-width: 1440px) {
  .home {
    padding-top: var(--sizing-80);
  }
}
