.home {
  position: relative;

  display: flex;
  overflow: hidden;
  flex-direction: column;
  min-height: 100vh;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  gap: var(--sizing-100);
}

.main {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.container {
  display: flex;
  flex: 1;
  flex-direction: column;
}

@media (max-width: 768px) {
  .home {
    background-image: url("../../assets/images/home/background-home-mobile.jpg");
  }
}

@media (min-width: 768px) and (max-width: 1440px) {
  .home {
    background-image: url("../../assets/images/home/background-home-tablet.jpg");
  }
}

@media (min-width: 1440px) {
  .home {
    padding-top: var(--sizing-80);

    background-image: url("../../assets/images/home/background-home-desktop.jpg");
  }
}
