.container {
}

.menu {
  display: flex;
  gap: var(--sizing-20);

  justify-content: center;
}

.menuItem {
  width: 40px;
  height: 40px;
  color: var(--color-white-400);
  border: 1px solid var(--color-white-translucent);
  border-radius: 50%;

  transition: background-color 0.2s ease-in-out;
}

.menuItem.active {
  background-color: var(--color-white-400);
  color: var(--color-black-400);
}

.menuItem:not(.active):hover {
  background-color: var(--color-white-translucent);
}

@media (min-width: 768px) {
  .menu {
  }

  .menuItem {
    width: 60px;
    height: 60px;
  }
}

@media (min-width: 1300px) {
  .menu {
    flex-direction: column;
    gap: var(--sizing-60);
  }

  .menuItem {
    width: 80px;
    height: 80px;
  }
}
