.container {
  max-width: var(--page-container);
  margin-inline: auto;
}

.padded {
  padding: var(--page-padding);
}

.paddedBlock {
  padding-block: var(--page-padding);
}

.paddedInline {
  padding-inline: var(--page-padding);
}
